@import "nav.css";
@import "feed.css";
@import "search.css";
:root {
    --twitter-blue-color: rgba(29, 161, 242, 1.00);
    --twitter-hover-color: rgba(29, 161, 242, 0.2);
    --twitter-border-color: rgb(197, 197, 197);
    --twitter-search-color: rgb(230, 236, 240);
}

body {
    margin: 0 auto;
    padding: 0;
}

#main {
    display: flex;
    font-size: 1.2em;
    font-weight: bold;
    font-family: "Segoe UI", Arial, sans-serif;
    margin: 0 auto;
    justify-content: center;
}

#navigation-bar {
    flex-grow: 1;
    max-width: 330px;
}

#feed {
    flex-grow: 0.5;
    max-width: 600px;
    border-left: 1px solid var(--twitter-border-color);
    border-right: 1px solid var(--twitter-border-color);
}

#search {
    max-width: 400px;
    flex-grow: 0.25;
}

@media (max-width: 1200px) {
    #main {
        justify-content: start;
    }
    #navigation-bar {
        max-width: 60px;
        padding-left: 20px;
        padding-right: 30px;
    }
    #feed {
        /* flex-grow: 0.5; */
        max-width: 750px;
    }
}

@media (max-width: 1080px) {
    #search {
        display: none;
    }
    #main {
        justify-content: center;
    }
    #feed {
        /* flex-grow: 0.5; */
        /* max-width: 100%; */
    }
}