#navigation-bar ul {
    list-style: none;
    font-size: .9em;
}

#navigation-bar ul > li {
    height: 55px;
}

#navigation-bar ul > li:first-of-type {
    margin-bottom: 10%;
}

#navigation-bar ul > li:not(:first-of-type) {
    margin-left: 20px;
}

#navigation-bar ul li div  {
    display: flex;
    cursor: pointer;
    user-select: none;
    width: calc(100% - 10%);
    max-height: 40px;
}

#navigation-bar ul li div:hover {
    background-color: var(--twitter-hover-color);
    border-radius: 30px;
    color: var(--twitter-blue-color);
}

#navigation-bar ul li div p {
    position: relative;
    left: 30px;
    bottom: 10px;
}

#navigation-bar ul li div img{
    width: 40px;
    height: 40px;
}

#navigation-bar ul > li:last-of-type {
    margin-top: 5%;
}

#navigation-bar ul > li:last-of-type > button {
    width: 80%;
    margin-right: 10%;
}

.img {
    width: 20px;
    padding-left: 15px;
}

.img-padding {
    position: relative;
    left: 5px;
}

.img-twitter {
    width: 50px;
}

.tweet-button {
    border: none;
    border-radius: 30px;
    height: 50px;
    background-color: var(--twitter-blue-color);
    color: white;
    font-weight: bolder;
    position: relative;
}

.tweet-button:hover {
    cursor: pointer;
    outline: none;
}

@media (max-width: 1200px) {
    #navigation-bar ul li:last-of-type {
        display: none;
    }
    #navigation-bar ul {
        padding: 0px;
    }
    #navigation-bar ul li {
        min-height: 60px;
        width: inherit;
    }
    #navigation-bar ul li p {
        display: none;
    }
}