#navigation-bar ul {
    list-style: none;
}

#navigation-bar ul li {
    display: flex;
    max-height: 60px;
    cursor: pointer;
    user-select: none;
    width: 225px;
}

#navigation-bar ul li:not(:first-of-type):not(:last-of-type):hover {
    background-color: var(--twitter-hover-color);
    border-radius: 30px;
}

#navigation-bar ul li p {
    position: relative;
    left: 30px;
    bottom: 5px;
}

.img {
    width: 35px;
    padding-left: 15px;
}

.img-padding {
    position: relative;
    left: 5px;
}

.img-twitter {
    min-width: 60px;
}

.tweet-button {
    margin-right: 70px;
    flex-grow: 2;
    border: none;
    border-radius: 30px;
    height: 50px;
    background-color: var(--twitter-blue-color);
    color: white;
    font-weight: bolder;
}

.tweet-button:hover {
    cursor: pointer;
    outline: none;
}

@media (max-width: 1200px) {
    #navigation-bar ul li:last-of-type {
        display: none;
    }
    #navigation-bar ul {
        padding: 0px;
    }
    #navigation-bar ul li {
        min-height: 60px;
        width: inherit;
    }
    #navigation-bar ul li p {
        display: none;
    }
}