#search-content {
    margin-left: 10%;
    /* max-width: 400px; */
}

#search-text {
    border-radius: 100px;
    border: none;
    margin-top: 10px;
    width: inherit;
    height: 40px;
    background-color: var(--twitter-search-color);
    display: flex;
}

#search-text img {
    width: 35px;
    padding-left: 10px;
    padding-right: 10px;
}

#search-text input {
    outline: none;
    border: none;
    border-radius: 100px;
    background-color: inherit;
    text-align: left;
    font-size: 20px;
}

#search-list-head {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    max-height: 50px;
}

#search-list-head img {
    width: 30px;
    position: relative;
    top: 5px;
}

#search-list-container {
    background-color: var(--twitter-search-color);
    border-radius: 10px;
    position: relative;
    top: 15px;
}

#search-list-container ul {
    position: relative;
    top: -15px;
    list-style: none;
    padding: 0px;
    border-top: 1px solid var(--twitter-border-color);
}

#search-list-container ul li {
    margin: 0px;
}

.first-line {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 15px;
}

.first-line span {
    font-size: 13px;
    font-weight: normal;
}

.first-line img {
    width: 20px;
    position: relative;
}

.first-line img:hover {
    outline: none;
    cursor: pointer;
}

.second-line {
    margin-top: -10px;
    padding-left: 10px;
}

.third-line {
    margin-top: -20px;
    padding-left: 10px;
    font-size: 0.8em;
    font-weight: normal;
}