#search-content {
    margin-left: 10%;
}

#search-text {
    border-radius: 100px;
    border: none;
    margin-top: 10px;
    height: 40px;
    background-color: var(--twitter-search-color);
    display: flex;
}

#search-text img {
    width: 35px;
    padding-left: 10px;
    padding-right: 10px;
}

#search-text input {
    outline: none;
    border: none;
    border-radius: 100px;
    background-color: inherit;
    text-align: left;
    font-size: 20px;
    width: 100%;
}

#search-list-head {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    max-height: 50px;
}

#search-list-head img {
    width: 30px;
    position: relative;
    top: 5px;
}

.search-list-container {
    background-color: var(--twitter-search-color);
    border-radius: 10px;
    position: relative;
    top: 15px;
}

.search-list-container ul {
    position: relative;
    top: -15px;
    list-style: none;
    padding: 0px;
    border-top: 1px solid var(--twitter-border-color);
}

.search-list-container ul li {
    margin: 0px;
}

#news-container .first-line {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 15px;
}

#news-container .first-line span {
    font-size: 13px;
    font-weight: normal;
}

#news-container .first-line img {
    width: 20px;
    position: relative;
}

#news-container .first-line img:hover {
    outline: none;
    cursor: pointer;
}

#news-container .second-line {
    margin-top: -10px;
    padding-left: 10px;
}

#news-container .third-line {
    margin-top: -20px;
    padding-left: 10px;
    font-size: 0.8em;
    font-weight: normal;
}

#follow-container ul li {
    display: flex;
    padding-left: 10px;
}

#follow-container ul li img {
    /* flex-grow: 1; */
    width: 50px;
}

#follow-container ul li>div {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

#follow-container ul li div p {
    font-size: 0.8em;
    margin-left: 10px;
}

#follow-container ul li div p:first-of-type {
    margin-bottom: 0px;
}

#follow-container ul li div p:not(:first-of-type) {
    font-weight: normal;
    margin-top: 0px;
}

#follow-container ul li input {
    position: relative;
    right: 20px;
    top: 20px;
    outline: none;
    border: 1px solid var(--twitter-blue-color);
    color: var(--twitter-blue-color);
    border-radius: 30px;
    background-color: inherit;
    font-size: 20px;
    height: 35px;
    padding-top: 3px;
}

#follow-container ul li input:hover {
    cursor: pointer;
    outline: none;
}

#follow-container ul li:last-of-type {
    max-height: 40px;
}

#follow-container ul li:last-of-type p {
    position: relative;
    left: 5px;
    bottom: 10px;
    color: var(--twitter-blue-color);
    font-weight: bold;
    padding-bottom: 0px;
}

#follow-container ul li:last-of-type p:hover {
    cursor: pointer;
    outline: none;
    font-weight: bolder;
}